/* my custom css */
* {
    font-family: 'Titillium Web', sans-serif;
}

.main-container {
    height: 100vh;
    width: 800px;
}

.content-box {
    background: #A6C5E1 url(./img/php.png) no-repeat center;
    background-size: cover;
    opacity: .8;
    color: black;
    text-shadow: 1px 1px 3px #0007;
    font-weight: 200;
    font-size: 1.4em;
    height: 300px;
    width: 850px;
}

.author {
    position: relative;
}

.author-name {
    position: absolute;
    right: 5px;
    bottom: 5px;
}